body {
    margin: 0;
}

#backgroundPic {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1727452165826-920ea81d89e8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    transition: ease 1000ms linear;
}

h1 {
    color: white;
}

p {
    color: white;
}

input {
    text-align: center;
}

#query{
    width: 70vw;
    height: 5vh;
    padding: 5px 5vw;
    border-radius: 100vh;
}

#headerBar {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    flex-basis: 10vh;
}

#bodyBar{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100px;
    flex-grow: 5;
    background-color: re;
}

#buttonBar {
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: 5vh;
    align-items: start;
    width: 100%;
    justify-content: space-around;
}

.searchResultEntry{
    color: white;
}

.link{
    color: lightblue;
}

.link:hover{
    color: rgb(188, 173, 230);
}

#searchResults{
    height: '200';
    width: 80vw;
    color:white;
    overflow-y: overlay;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 8px;
}
::-webkit-scrollbar-track-piece{
    border-radius: 100px;
    background: rgba(150, 150, 150, 0.5);
}
  
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.5);
}